<%= stylesheet_link_tag "root_styles" %>
<main>
  <nav>
    <div class="title">
      <h1>
      <svg class="svg-icon" style="width: 1em; height: 1em;vertical-align: middle;fill: currentColor;overflow: hidden;" 
        viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M896 213.333333v281.6l-128-128-170.666667 170.666667-170.666666-170.666667-170.666667 170.666667-128-128V213.333333c0-46.933333 38.4-85.333333 85.333333-85.333333h597.333334c46.933333 0 85.333333 38.4 85.333333 85.333333z m-128 273.066667l128 128V810.666667c0 46.933333-38.4 85.333333-85.333333 85.333333H213.333333c-46.933333 0-85.333333-38.4-85.333333-85.333333V529.066667l128 128 170.666667-170.666667 170.666666 170.666667 170.666667-170.666667z"  /></svg>
        BreakThrough</h1>
    </div>
    <div class="links">
      <a href="">Link 1</a>
      <a href="">Link 2</a>
      <a href="">Link 3</a>
    </div>
  </nav>
  <section>
    <img src="" alt="">
    <h2></h2>
    <p></p>
    <button></button>
  </section>
  <section>
    <div class="item">
      <img src="" alt="">
      <h2></h2>
      <p></p>
    </div>
    <div class="item">
      <img src="" alt="">
      <h2></h2>
      <p></p>
    </div>
    <div class="item">
      <img src="" alt="">
      <h2></h2>
      <p></p>
    </div>
    <div class="item">
      <img src="" alt="">
      <h2></h2>
      <p></p>
    </div>      
  </section>
  <section>
    <img src="" alt="">
    <h2></h2>
    <p></p>
    <a href=""></a>
  </section>
</main>
<footer>
</footer>

</main>