<%= stylesheet_link_tag "root_styles" %>
<main>
  <nav>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
  </nav>
  <section>
    <img src="" alt="">
    <h2></h2>
    <p></p>
    <button></button>
  </section>
  <section>
    <div class="item">
      <img src="" alt="">
      <h2></h2>
      <p></p>
    </div>
    <div class="item">
      <img src="" alt="">
      <h2></h2>
      <p></p>
    </div>
    <div class="item">
      <img src="" alt="">
      <h2></h2>
      <p></p>
    </div>
    <div class="item">
      <img src="" alt="">
      <h2></h2>
      <p></p>
    </div>      
  </section>
  <section>
    <img src="" alt="">
    <h2></h2>
    <p></p>
    <a href=""></a>
  </section>
<footer>
</footer>

</main>