@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Raleway';
  color: white;
  background-color: hsl(218, 28%, 13%);
}

.title{
  display: flex;
  justify-content: center;
}

h1{
  font-size: 30px;
  font-weight: 700;
}

a{
  text-decoration: none;
  color:white;
}

.links{
  display: flex;
  gap:15px;
}
