@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
*{
  margin:0;
  color: white;
}

section{
  background-color: hsl(218, 27%, 16%);
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Raleway';
  color: white;
  background-color: hsl(218, 27%, 16%);
}

.title{
  display: flex;
  justify-content: center;
}

h1{
  font-size: 30px;
  font-weight: 700;
}

.main-img > h2{
color:white;
font-size:45px;
}


a{
  text-decoration: none;
  color:white;
}

.links{
  display: flex;
  gap:15px;
}

.main-img{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to top,hsl(218, 27%, 24%) , #181F2B 50%,);
}


.feat-imgs, .stayproductive{
  background-color: #181F2B;
  display:flex;
  flex-direction: columns;
  align-items:center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 150px;
}

.stayproductive{
  background-color: #181F2B;
}


.stayproductive > div{
  display: flex;
  width:200px;
  flex-wrap: wrap;
}


.item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #181F2B;
  margin:30px;
}

.item > p{
  justify-self: center;
  align-self: center;
  width:350px;
}

footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  grid-template-rows: auto;
  background-color: #161b25;
  height: 300px;
  margin: 0px;
  padding: 0px;
  grid-template-areas: 
  "header header header . ."
  "location contact info general social" ;
}

.footer-header{
  grid-area: header;
}

.item-1{
  grid-area: location;
}

.item-2{
  grid-area: contact;
}

.item-3{
  grid-area: info;  
}

.item-4{
  grid-area: general; 
}

.item-5{
  grid-area: social;
}

.logo{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 50px;
}

.footer-items{
  display: flex;
  margin: 10px;
  gap: 10px;
}

.footer-links{
  display: flex;
  flex-direction: column;
  gap:10px;
}


